{# Formulario para modificar la contrasenna #}

{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
	{% trans_default_domain 'FOSUserBundle' %}

	{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-centro' } }) }}
	    <div class="lista-errores">
	        {{ form_errors(form.current_password) }}
	        {{ form_errors(form.plainPassword.first) }}
	        {{ form_errors(form.plainPassword.second) }}
	    </div>
	    {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'form.current_password' | trans, 'autofocus':'' }}) }}
	    <br/>
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'form.new_password' | trans }}) }}
	    <br/>
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder':'form.new_password_confirmation' | trans }}) }}
	    <br/>
	    <div>
	        <input type="submit" value="{{ 'change_password.submit'|trans }}"  class="btn btn-lg btn-primary btn-block"/>
	    </div>
	{{ form_end(form) }}
{% endblock fos_user_content %}