{% extends 'base.html.twig' %}

{% block title %}ClassVehicle index{% endblock %}

{% block body %}
    <h1>ClassVehicle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for class_vehicle in class_vehicles %}
            <tr>
                <td>{{ class_vehicle.id }}</td>
                <td>{{ class_vehicle.name }}</td>
                <td>{{ class_vehicle.description }}</td>
                <td>
                    <a href="{{ path('class_vehicle_show', {'id': class_vehicle.id}) }}">show</a>
                    <a href="{{ path('class_vehicle_edit', {'id': class_vehicle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('class_vehicle_new') }}">Create new</a>
{% endblock %}
