{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('registerCheckRecaptcha'), 'attr': {'class': 'fos_user_registration_register form-centro', 'placeholder':'fos_user_registration_register form' | trans }}) }}

    <div class="row lista-errores">
        <!-- <div>{#{{ form_errors(form.name) }}#}</div> -->
        <div>{{ form_errors(form.email) }}</div>
        <div>{{ form_errors(form.username) }}</div>
        <div>{{ form_errors(form.plainPassword.first) }}</div>
        <div>{{ form_errors(form.plainPassword.second) }}</div>
    </div>

    <div>
        <!-- {#{{ form_widget(form.name, {'attr': {'class': 'form-control', 'autofocus':'', 'placeholder':'name' | trans({}, 'messages') }}) }}#} -->
        <!-- {#<br/>#} -->
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'form.email' | trans }}) }}
        <br/>
        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'form.username' | trans }}) }}
        <br/>
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'form.password' | trans }}) }}
        <br/>
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder':'form.password_confirmation' | trans }}) }}
        <br/>
        <div class="g-recaptcha" data-callback="removeDisabledFromButton" data-sitekey="{{recaptcha}}"></div>
        <br/>
        <input disabled type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-lg btn-primary btn-block" id="btnRegister"/>
    </div>

    {{ form_end(form) }}
{% endblock fos_user_content %}