{% if marcas | length == 0 %}

<h2 class="texto-grande">{{'no.hay.resultados' | trans}}</h2>
<hr>

{% else %}

<div class="filtroVehiculos">
    <form id="form_busqueda_vehiculos" method="post" action="{{ path('busquedaVehiculos') }}">
        <select name="marca_vehiculo" id="marca_vehiculo">
            {% if vehiculo is defined %}
                <option value="{{ vehiculo.marca.id }}">{{ vehiculo.marca.name }}</option>
            {% else %}
                <option value="-1">{{ 'marca' | trans }}</option>
            {% endif %}
            {% for marca in marcas %}
            <option value="{{ marca.id }}">{{ marca.name }}</option>
            {% endfor %}
        </select>

        <select name="tipo_vehiculo" id="tipo_vehiculo" disabled>
            {# {% if vehiculo is defined %}
                <option value="{{ vehiculo.tipo.id }}">{{ vehiculo.tipo.name }}</option>
            {% else %} #}
                <option value="-1">{{ 'tipo' | trans }}</option>
            {# {% endif %}
            {% for tipo in tipos %}
            <option value="{{ tipo.id }}">{{ tipo.name }}</option>
            {% endfor %} #}
        </select>

        <select name="modelo_vehiculo" id="modelo_vehiculo" disabled>
            {# {% if vehiculo is defined %}
                <option value="{{ vehiculo.modelo }}">{{ vehiculo.modelo }}</option>
            {% else %} #}
                <option value="-1">{{ 'modelo' | trans }}</option>
            {# {% endif %}
            {% for modelo in modelos %}
            <option value="{{ modelo }}">{{ modelo }}</option>
            {% endfor %} #}
        </select>

        <select name="anno_vehiculo" id="anno_vehiculo" disabled>
            {# {% if vehiculo is defined %}
                <option value="{{ vehiculo.creacion | date ('Y')}}">{{ vehiculo.creacion | date ('Y') }}</option>
            {% else %} #}
                <option value="-1">{{ 'anno' | trans }}</option>
                {# {% endif %}
                {% for anno in annos %}
                <option value="{{ anno }}">{{ anno }}</option>
                {% endfor %} #}
        </select>

        <button class="btn btn-primary" id="btnBuscarVehiculos" disabled>
            <i class="fa fa-search"></i> {{ 'buscar' | trans }}
        </button>
    </form>
</div>

{% endif %}