{# 
    Formulario de filtro de vehiculo
#}
<div class="filtroVehiculos">
    <form id="form_busqueda_vehiculos" method="post" action="{{ path('busquedaVehiculos') }}">
        <select name="marca_vehiculo" id="marca_vehiculo">
            <option value="-1">{{ 'marca' | trans }}</option>
            {% for marca in marcas %}
            <option value="{{ marca.id }}">{{ marca.name }}</option>
            {% endfor %}
        </select>

        <select name="tipo_vehiculo" id="tipo_vehiculo" {% if vehiculo is null %}disabled{% endif %}>
            <option value="-1">{{ 'tipo' | trans }}</option>
            {% if vehiculo is not null %}
                {% for tipo in tipos %}
                <option value="{{ tipo.id }}">{{ tipo.name }}</option>
                {% endfor %}
            {% endif %}
        </select>

        <select name="modelo_vehiculo" id="modelo_vehiculo" {% if vehiculo is null %}disabled{% endif %}>
            <option value="-1">{{ 'modelo' | trans }}</option>
            {% if vehiculo is not null %}
                {% for modelo in modelos %}
                <option value="{{ modelo }}">{{ modelo }}</option>
                {% endfor %}
            {% endif %}
        </select>

        <select name="anno_vehiculo" id="anno_vehiculo" {% if vehiculo is null %}disabled{% endif %}>
            <option value="-1">{{ 'anno' | trans }}</option>
            {% if vehiculo is not null %}
                {% for anno in annos %}
                <option value="{{ anno }}">{{ anno }}</option>
                {% endfor %}
            {% endif %}
        </select>

        <button class="btn btn-primary" id="btnBuscarVehiculos" {% if vehiculo is null %}disabled{% endif %}>
            <i class="fa fa-search"></i> {{ 'buscar' | trans }}
        </button>
    </form>
</div>