{% extends 'base.html.twig' %} {% block stylesheets %}{% endblock %} {% block body %}
<div class="container">

    {{ render(controller('App\\Controller\\VehiculoController::filtroAction', {clase:clase_vehiculo, vehiculo: vehiculo is defined ? vehiculo.id : null})) }}

    <br/>

    <div id="div_busqueda_vehiculos">
        {% if imagenes is defined %}
            {% include 'vehiculo/detalles.html.twig' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}

{#
    Este bloque hace que si se selecciono en la vista principal algun criterio especifico,
        la pagina haga un scroll automatico hasta esa seccion especifica
#}
{% if apartado is defined %}
    <script>
        switch ('{{apartado}}'){
            case '0':
                $("html, body").animate({scrollTop: $('#collapseImagenes').offset().top - 90});
                break;
            case '1':
                $("html, body").animate({scrollTop: $('#collapseManualesTaller').offset().top - 90});
                break;
            case '2':
                $("html, body").animate({scrollTop: $('#collapseManualesUsuario').offset().top - 90});
                break;
            case '3':
                $("html, body").animate({scrollTop: $('#collapseEsquemasElectricos').offset().top - 90});
                break;
            case '4':
                $("html, body").animate({scrollTop: $('#collapseDespieces').offset().top - 90});
                break;
            case '5':
                $("html, body").animate({scrollTop: $('#collapseVideos').offset().top - 90});
                break;
            case '6':
                $("html, body").animate({scrollTop: $('#collapseCatalogos').offset().top - 90});
                break;
            case '7':
                $("html, body").animate({scrollTop: $('#collapseFichaTecnica').offset().top - 90});
                break;
        }
    </script>
{% endif %}


<script>
    
    {# Controlo si clickea algun manual que lo abra en una nueva pestanna el pdf #}
    $(document).on('click', 'a.manual-detalles', function (e) {
        e.preventDefault();
        ruta = $(this).attr('href');
        window.open(ruta);
    });

    {# Controlo el comportameinto del acordeon #}
    $(document).on('click', 'a.accordion-toggle', function (e) {
        e.preventDefault();
        $($(this).attr('href')).slideToggle();
        return false;
    });

    {# Controlo el envio del formulario de filtro #}
    $('#form_busqueda_vehiculos').submit(function (e) {
        e.preventDefault();

        {# Envio al controlador los datos #}
        $.ajax({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            method: 'post'
        }).success(function (data) {
            {# Si llegan bien los renderizo en la pagina #}
            $('#div_busqueda_vehiculos').html(data);
        }).error(function (error) {
            {# Si ocurre aglgun error, muestro una alerta de error #}
            alertify.error('{{ 'error.servidor' | trans }}');
        });
    });

    {#
        UX del formulario de filtro de vehiculos
    #}

    {#
        Cuando se cambia la marca la mando al controlador y renderizo los tipos que me retorne
            - Si se selecciona el valor "Marca" se resetean los valores dependientes
    #}
    $('#marca_vehiculo').change(function (e){
        if($(this).val() == '-1'){
            $('#tipo_vehiculo')
                .val('-1')
                .html('<option value="-1">{{ 'tipo' | trans }}</option>')
                .attr('disabled', true);
                $('#btnBuscarVehiculos').attr('disabled', true);
        }else{
            $.ajax({
                method: "POST",
                dataType: "json",
                url: "{{ path('buscarTiposPorMarca') }}",
                data: {marca: $(this).val()},
            })
            .done(function(data) {
                $('#tipo_vehiculo').removeAttr('disabled');
                $('#tipo_vehiculo').html('<option value="-1">{{ 'tipo' | trans }}</option>');
                data.forEach(function (t) {
                    $('#tipo_vehiculo').append('<option value="'+t.id+'">'+t.name+'<option>');
                });
                $('#tipo_vehiculo option:not([value])').remove();
                $('#btnBuscarVehiculos').removeAttr('disabled');
            })
            .fail(function(error) {
                alertify.error('{{ 'error.servidor' | trans }}');
            });
        }

        $('#modelo_vehiculo')
            .val('-1')
            .html('<option value="-1">{{ 'modelo' | trans }}</option>')
            .attr('disabled', true);
        $('#anno_vehiculo')
            .val('-1')
            .html('<option value="-1">{{ 'anno' | trans }}</option>')
            .attr('disabled', true);
    });

    {#
        Cuando se cambia el tipo lo mando al controlador y renderizo los modelos que me retorne
            - Si se selecciona el valor "Tipo" se resetean los valores dependientes
    #}
    $('#tipo_vehiculo').change(function (e){
        if($(this).val() == '-1'){
            $('#modelo_vehiculo')
                .val('-1')
                .html('<option value="-1">{{ 'modelo' | trans }}</option>')
                .attr('disabled', true);
        }else{
            $.ajax({
                method: "POST",
                dataType: "json",
                url: "{{ path('buscarModelosPorTipo') }}",
                data: {tipo: $(this).val()},
            })
            .done(function(data) {
                $('#modelo_vehiculo').removeAttr('disabled');
                $('#modelo_vehiculo').html('<option value="-1">{{ 'modelo' | trans }}</option>');
                data.forEach(function (v) {
                    $('#modelo_vehiculo').append('<option value="'+v.modelo+'">'+v.modelo+'<option>');
                });
                $('#modelo_vehiculo option:not([value])').remove();
            })
            .fail(function(error) {
                alertify.error('{{ 'error.servidor' | trans }}');
                console.error("Error: ", error);
            });
        }

        $('#anno_vehiculo')
            .val('-1')
            .html('<option value="-1">{{ 'anno' | trans }}</option>')
            .attr('disabled', true);
    });

    {#
        Cuando se cambia el modelo lo mando al controlador y renderizo los annos que me retorne
            - Si se selecciona el valor "Modelo" se resetean los valores dependientes
    #}
    $('#modelo_vehiculo').change(function (e){
        if($(this).val() == '-1'){
            $('#anno_vehiculo')
                .val('-1')
                .html('<option value="-1">{{ 'anno' | trans }}</option>')
                .attr('disabled', true);
        }else{
            $.ajax({
                method: "POST",
                dataType: "json",
                url: "{{ path('buscarAnnosPorModelo') }}",
                data: {modelo: $(this).val()},
            })
            .done(function(data) {
                $('#anno_vehiculo').removeAttr('disabled');
                $('#anno_vehiculo').html('<option value="-1">{{ 'anno' | trans }}</option>');
                data.forEach(function (v) {
                    $('#anno_vehiculo').append('<option value="'+v.fechaInicio+'">'+v.fechaInicio+'<option>');
                });
                $('#anno_vehiculo option:not([value])').remove();
            })
            .fail(function(error) {
                alertify.error('{{ 'error.servidor' | trans }}');
                console.error("Error: ", error);
            });
        }
    });

</script> {% endblock %}