{% extends 'layout/programa.html.twig' %}
{% block submenu %}
    <ul class="submenu-programa">
        <a href="{{ path('programa_submenu_registro_vehiculo') }}">
            <li>{{ 'submenu.registro.vehiculo' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_operaciones_mano') }}">
            <li>{{ 'submenu.operaciones.mano.obra' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_familia_recambio') }}">
            <li>{{ 'submenu.familia.recambio' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_marcas_recambios') }}">
            <li>{{ 'submenu.marcas.recambios' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_departamentos_taller') }}">
            <li>{{ 'submenu.departamentos.taller' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_comentarios') }}">
            <li>{{ 'submenu.comentarios' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_numeros_documentos') }}">
            <li>{{ 'submenu.numeros.documentos' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_formas_pago') }}">
            <li>{{ 'submenu.formas.pago' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_permisos') }}">
            <li>{{ 'submenu.permisos' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_talonarios') }}">
            <li>{{ 'submenu.talonarios' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_copia_seguridad') }}">
            <li>{{ 'submenu.copia.seguridad' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_seguridad_formularios') }}">
            <li>{{ 'submenu.seguridad.formularios' | trans }}</li>
        </a>
    </ul>
{% endblock %}