{#
    Plantilla de de la seccion de facturacion de programas

    estas opciones son genericas, si quisiera annadir otra opcion solo tendria que annadir

        <a href="{{ path(ruta, {'grupo': grupo, 'pagina': 'opcion-especifica'}) }}">
            <li {% if app.request.pathInfo == '/'~ruta~'/'~grupo~'/opcion-especifica' %}class="selected"{% endif %}>{{ 'submenu.opcion-especifica' | trans }}</li>
        </a>

    Para que el texto de la opcion salga en todos los idiomas hay que agregarlo a los archivos /translations/messages.idioma.xlf de la siguiente manera
        
        <trans-unit id="Numero secuencial">
            <source>submenu.opcion-especifica</source>
            <target>Texto en el idioma de la opcion especifica</target>
        </trans-unit>

#}

{% extends 'layout/programa.html.twig' %}
{% block submenu %}
    {% set ruta = 'program' %}
    {% set grupo = 'facturacion' %}
    <ul class="submenu-programa">
        <a href="{{ path(ruta, {'grupo': grupo, 'pagina': 'factura'}) }}">
            <li {% if app.request.pathInfo == '/'~ruta~'/'~grupo~'/factura' %}class="selected"{% endif %}>{{ 'submenu.or.factura' | trans }}</li>
        </a>
        <a href="{{ path(ruta, {'grupo': grupo, 'pagina': 'ventas'}) }}">
            <li {% if app.request.pathInfo == '/'~ruta~'/'~grupo~'/ventas' %}class="selected"{% endif %}>{{ 'submenu.ventas' | trans }}</li>
        </a>
        <a href="{{ path(ruta, {'grupo': grupo, 'pagina': 'ventas_rapidas'}) }}">
            <li {% if app.request.pathInfo == '/'~ruta~'/'~grupo~'/ventas_rapidas' %}class="selected"{% endif %}>{{ 'submenu.ventas.rapidas' | trans }}</li>
        </a>
        <a href="{{ path(ruta, {'grupo': grupo, 'pagina': 'pedidos'}) }}">
            <li {% if app.request.pathInfo == '/'~ruta~'/'~grupo~'/pedidos' %}class="selected"{% endif %}>{{ 'submenu.pedidos' | trans }}</li>
        </a>
        <a href="{{ path(ruta, {'grupo': grupo, 'pagina': 'caja'}) }}">
            <li {% if app.request.pathInfo == '/'~ruta~'/'~grupo~'/caja' %}class="selected"{% endif %}>{{ 'submenu.caja' | trans }}</li>
        </a>
    </ul>
{% endblock %}