{% extends 'layout/programa.html.twig' %}
{% block submenu %}
    <ul class="submenu-programa">
        <a href="{{ path('programa_submenu_calendario') }}">
            <li>{{ 'submenu.calendario' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_agenda') }}">
            <li>{{ 'submenu.agenda' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_agenda_taller') }}">
            <li>{{ 'submenu.agenda.taller' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_impresos_trafico') }}">
            <li>{{ 'submenu.impresos.trafico' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_matriculas') }}">
            <li>{{ 'submenu.matriculas' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_telefonos_utilidad') }}">
            <li>{{ 'submenu.telefonos.utilidad' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_fax') }}">
            <li>{{ 'submenu.fax' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_sms_certificaciones') }}">
            <li>{{ 'submenu.sms.certificaciones' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_envios') }}">
            <li>{{ 'submenu.envios' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_sobres') }}">
            <li>{{ 'submenu.sobres' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_visor_imagenes') }}">
            <li>{{ 'submenu.visor.imagenes' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_video_seguridad') }}">
            <li>{{ 'submenu.video.seguridad' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_carta_modelo') }}">
            <li>{{ 'submenu.carta.modelo' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_herramientas_google') }}">
            <li>{{ 'submenu.herramientas.google' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_sincronizar_datos') }}">
            <li>{{ 'submenu.sincronizar.datos' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_gestionar_archivos') }}">
            <li>{{ 'submenu.gestionar.archivos' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_asistencia_tecnica') }}">
            <li>{{ 'submenu.asistencia.tecnica' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_gestion_documental') }}">
            <li>{{ 'submenu.gestion.documental' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_notas') }}">
            <li>{{ 'submenu.notas' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_administrador_web') }}">
            <li>{{ 'submenu.administrador.web' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_analisis_web') }}">
            <li>{{ 'submenu.analisis.web' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_administrador_bd') }}">
            <li>{{ 'submenu.administrador.bd' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_neumaticos') }}">
            <li>{{ 'submenu.neumaticos' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_gasolina_diesel') }}">
            <li>{{ 'submenu.gasolina.diesel' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_auditoria') }}">
            <li>{{ 'submenu.auditoria' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_divisas') }}">
            <li>{{ 'submenu.divisas' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_buscar_empleado') }}">
            <li>{{ 'submenu.buscar.empleado' | trans }}</li>
        </a>
        <a href="{{ path('programa_submenu_financiacion') }}">
            <li>{{ 'submenu.financiacion' | trans }}</li>
        </a>
    </ul>
{% endblock %}