{% extends 'layout/programa.html.twig' %}
{% block submenu %}
    <ul class="submenu-programa">
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.calendario' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.agenda' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.agenda.taller' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.impresos.trafico' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.matriculas' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.telefonos.utilidad' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.fax' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.sms.certificaciones' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.envios' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.sobres' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.visor.imagenes' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.video.seguridad' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.carta.modelo' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.herramientas.google' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.sincronizar.datos' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.gestionar.archivos' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.asistencia.tecnica' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.gestion.documental' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.notas' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.administrador.web' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.analisis.web' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.administrador.bd' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.neumaticos' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.gasolina.diesel' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.auditoria' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.divisas' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.buscar.empleado' | trans }}</li>
        </a>
        <a href="{{ path('program', {'grupo': 'configuracion', 'pagina': 'registro_vehiculos'}) }}">
            <li>{{ 'submenu.financiacion' | trans }}</li>
        </a>
    </ul>
{% endblock %}