{# 
    Pagina de Portada de la aplicacion, incluye
        - carousel de imagenes
        - tabla de vehiculos creados
        - tabla de vehiculos actualizados
        - Publicidades
#}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                {% include 'inc/carousel.html.twig' %}
            </div>
            <div class="col-xs-2"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-11 col-md-10">
                <h2 class="pull-left"><img src="{{ asset('img/btnNew.png') }}" width="50px" /> {{ 'vehiculos.subidos' | trans }}</h2>

                <form class="pull-right">
                    <select name="selectTiempoVehiculosSubidos" id="selectTiempoVehiculosSubidos" class="form-control">
                        <option value="-12 month">{{ 'ultimos.12.meses' | trans }}</option>
                        <option value="-30 day">{{ 'ultimos.30.dias' | trans }}</option>
                        <option value="-60 day">{{ 'ultimos.60.dias' | trans }}</option>
                        <option value="-3 month">{{ 'ultimos.3.meses' | trans }}</option>
                        <option value="-6 month">{{ 'ultimos.6.meses' | trans }}</option>
                    </select>
                </form>

                <br/>
                <hr/>

                <div id="divVehiculosSubidos">
                    {{ render(controller('App\\Controller\\VehiculoController::vehiculosSubidosAction', {tiempo: '-12 month'})) }}
                </div>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

                <h2 class="pull-left"><img src="{{ asset('img/btnUpdate.jpg') }}" width="50px" />  {{ 'vehiculos.actualizados' | trans }}</h2>

                <form class="pull-right">
                    <select name="selectTiempoVehiculosActualizados" id="selectTiempoVehiculosActualizados"
                            class="form-control">
                        <option value="-12 month">{{ 'ultimos.12.meses' | trans }}</option>
                        <option value="-30 day">{{ 'ultimos.30.dias' | trans }}</option>
                        <option value="-60 day">{{ 'ultimos.60.dias' | trans }}</option>
                        <option value="-3 month">{{ 'ultimos.3.meses' | trans }}</option>
                        <option value="-6 month">{{ 'ultimos.6.meses' | trans }}</option>
                    </select>
                </form>

                <br/>
                <hr/>

                <div id="divVehiculosActualizados">
                    {{ render(controller('App\\Controller\\VehiculoController::vehiculosActualizadosAction', {tiempo: '-12 month'})) }}
                </div>
            </div>

            <div class="col-lg-1 col-md-2 publicidad">
                {# Aqui se cargan las publicidades con este formato #}

                <a href="https://ftp.cubahosting.net/index.php" target="_blank">
                    <img src="{{ asset('img/publicidad/ByFtp-Opt.png') }}" alt="ByFtp-Opt"/>
                </a>

                <a href="http://cubahosting.net/" target="_blank">
                    <img src="{{ asset('img/publicidad/WebHosting-Opt.png') }}" alt="WebHosting-Opt"/>
                </a>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Cargo el script de los datatables #}
    <script src="{{ asset('jquery/js/dataTables.js') }}"></script>
    <script>

        {# Cargo el idioma de las datatables segun el lenguaje seleccionado 
            y solo de la tabla que esta cargando el contenido en ese momento #}
        function actualizarIdiomaDataTables() {
            $('.tablaVehiculos').each(function (){
                if (!$.fn.dataTable.isDataTable($(this))) {
                    $(this).dataTable({
                        {% set language = "" %}
                        {% if app.request.locale == 'es' %}
                            {% set language = "Spanish" %}
                        {% elseif app.request.locale == 'en' %}
                            {% set language = "English" %}
                        {% elseif app.request.locale == 'fr' %}
                            {% set language = "French" %}
                        {% elseif app.request.locale == 'ca' %}
                            {% set language = "Catalan" %}                        
                        {% elseif app.request.locale == 'pt' %}
                            {% set language = "Portuguese" %}
                        {% endif %}
                        language: {
                            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/{{language}}.json"
                        }
                    });
                }
            })
            
        }
        $(function () {

            {# Habilito el carousel #}
            $('.carousel').carousel();

            actualizarIdiomaDataTables();

            {# Envio al controlador los ultimos dias seleccionados por el cliente #}
            $('#selectTiempoVehiculosSubidos').change(function () {
                var ruta = "{{ path('vehiculosSubidos', {tiempo: '__tiempo__'}) }}";
                var url = ruta.replace(/__tiempo__/, $(this).val());
                $.ajax({
                    url: url,
                }).success(function (data) {
                    {# Si la respuesta es OK actualizo el contenido del div de vehiculos creados #}
                    $('#divVehiculosSubidos').html(data);
                    actualizarIdiomaDataTables();
                }).error(function (error) {
                    {# Si ocurre algun error, muestro mensaje de error #}
                    alertify.error('{{ 'error.servidor' | trans }}');
                });
            });

            $('#selectTiempoVehiculosActualizados').change(function () {
                var ruta = "{{ path('vehiculosActualizados', {tiempo: 'tiempo'}) }}";
                var url = ruta.replace(/tiempo/, $(this).val());
                $.ajax({
                    url: url,
                }).success(function (data) {
                    {# Si la respuesta es OK actualizo el contenido del div de vehiculos actualizados #}
                    $('#divVehiculosActualizados').html(data);
                    actualizarIdiomaDataTables();
                }).error(function (error) {
                    {# Si ocurre algun error, muestro mensaje de error #}
                    alertify.error('{{ 'error.servidor' | trans }}');
                });
            });
        });
    </script>
{% endblock %}