{% extends 'base.html.twig' %}

{% block body %}
    {% include 'modal/publicidad.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                {% include 'inc/carousel.html.twig' %}
            </div>
            <div class="col-xs-2"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-11 col-md-10">
                <h2 class="pull-left"><img src="{{ asset('img/btnNew.png') }}" width="50px" /> {{ 'vehiculos.subidos' | trans }}</h2>

                <form class="pull-right">
                    <select name="selectTiempoVehiculosSubidos" id="selectTiempoVehiculosSubidos" class="form-control">
                        <option value="-30 day">{{ 'ultimos.30.dias' | trans }}</option>
                        <option value="-60 day">{{ 'ultimos.60.dias' | trans }}</option>
                        <option value="-3 month">{{ 'ultimos.3.meses' | trans }}</option>
                        <option value="-6 month">{{ 'ultimos.6.meses' | trans }}</option>
                    </select>
                </form>

                <br/>
                <hr/>

                <div id="divVehiculosSubidos">
                    {{ render(controller('App\\Controller\\VehiculoController::vehiculosSubidosAction', {tiempo: '-30 day'})) }}
                </div>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

                <h2 class="pull-left"><img src="{{ asset('img/btnUpdate.jpg') }}" width="50px" />  {{ 'vehiculos.actualizados' | trans }}</h2>

                <form class="pull-right">
                    <select name="selectTiempoVehiculosActualizados" id="selectTiempoVehiculosActualizados"
                            class="form-control">
                        <option value="-30 day">{{ 'ultimos.30.dias' | trans }}</option>
                        <option value="-60 day">{{ 'ultimos.60.dias' | trans }}</option>
                        <option value="-3 month">{{ 'ultimos.3.meses' | trans }}</option>
                        <option value="-6 month">{{ 'ultimos.6.meses' | trans }}</option>
                    </select>
                </form>

                <br/>
                <hr/>

                <div id="divVehiculosActualizados">
                    {{ render(controller('App\\Controller\\VehiculoController::vehiculosActualizadosAction', {tiempo: '-30 day'})) }}
                </div>
            </div>
            <div class="col-lg-1 col-md-2 publicidad">
                <a href="http://direccion.com">
                    <img src="{{ asset('img/publicidad/ByFtp-Opt.png') }}" alt="ByFtp-Opt"/>
                </a>

                <a href="http://direccion.com">
                    <img src="{{ asset('img/publicidad/WebHosting-Opt.png') }}" alt="WebHosting-Opt"/>
                </a>
                
                <!-- <a data-toggle="modal" href="#modal_publicidad" class="tu-publicidad-aqui">
                    <span class="tu-publicidad">
                        {{ 'tu.publicidad' | trans }}
                    </span>
                    <span class="aqui-publicidad">
                        {{ 'aqui' | trans }}
                    </span>
                </a>

                <a data-toggle="modal" href="#modal_publicidad" class="tu-publicidad-aqui">
                    <span class="tu-publicidad">
                        {{ 'tu.publicidad' | trans }}
                    </span>
                    <span class="aqui-publicidad">
                        {{ 'aqui' | trans }}
                    </span>
                </a>

                <a data-toggle="modal" href="#modal_publicidad" class="tu-publicidad-aqui">
                    <span class="tu-publicidad">
                        {{ 'tu.publicidad' | trans }}
                    </span>
                    <span class="aqui-publicidad">
                        {{ 'aqui' | trans }}
                    </span>
                </a> -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery/js/dataTables.js') }}"></script>
    <script>
        function configurarDataTables() {
            $('.tablaVehiculos').dataTable({
                {% set language = "" %}
                {% if app.request.locale == 'es' %}
                    {% set language = "Spanish" %}
                {% elseif app.request.locale == 'en' %}
                    {% set language = "English" %}
                {% elseif app.request.locale == 'fr' %}
                    {% set language = "French" %}
                {% elseif app.request.locale == 'ca' %}
                    {% set language = "Catalan" %}                        
                {% elseif app.request.locale == 'pt' %}
                    {% set language = "Portuguese" %}
                {% endif %}
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/{{language}}.json"
                }
            });
        }
        $(function () {

            $('.carousel').carousel();

            configurarDataTables();

            $('#selectTiempoVehiculosSubidos').change(function () {
                var ruta = "{{ path('vehiculosSubidos', {tiempo: 'tiempo'}) }}";
                var url = ruta.replace(/tiempo/, $(this).val());
                $.ajax({
                    url: url,
                }).success(function (data) {
                    $('#divVehiculosSubidos').html(data);
                    configurarDataTables();
                }).error(function (error) {

                });
            });

            $('#selectTiempoVehiculosActualizados').change(function () {
                var ruta = "{{ path('vehiculosActualizados', {tiempo: 'tiempo'}) }}";
                var url = ruta.replace(/tiempo/, $(this).val());
                $.ajax({
                    url: url,
                }).success(function (data) {
                    $('#divVehiculosActualizados').html(data);
                    configurarDataTables();
                }).error(function (error) {
                });
            });

            $('.publicidad>a').click(function (e){
                e.preventDefault();
                window.open($(this).attr('href'));
            });

            $('#btn-enviar-publicidad').click(function () {
                if (!$('#nombre_publicidad').val() || !$('#email_publicidad').val() || !$('#mensaje_publicidad').val()) {
                    alertify.error('{{ 'introduzca.datos.formulario' | trans }}');
                    return false;
                }

                if (!/^(.+\@.+\..+)$/.test($('#email_publicidad').val())) {
                    alertify.error('{{ 'email.invalido' | trans }}');
                    return false;
                }

                $.ajax({
                    url: $('#form-publicidad').attr('action'),
                    data: $('#form-publicidad').serialize(),
                    method: 'post'
                }).success(function (data) {
                    $('#modal_publicidad').modal('hide');
                    alertify.success('{{ 'mensaje.enviado' | trans }}');
                }).error(function (data) {
                    alertify.error('{{ 'mensaje.no.enviado' | trans }}');
                });
            });

            // Matomo code
            var _paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//analisisweb.cubahosting.net/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();


            // Modal to send Mails

            var correo = '';

            var exp_reg_es_solo_espacios = /^ +$/;
            var exp_reg_comienza_con_espacios = /^ /;

            function esSoloEspacios(valor){
                return exp_reg_es_solo_espacios.test(valor);
            }

            function esMuyLargo(valor){
                return valor.length > 50;
            }

            function comienzaConEspacio(valor){
                return exp_reg_comienza_con_espacios.test(valor);
            }

            function estaVacio(valor){
                return valor.length == 0;
            }

            $(function () {

                $('a.contacto').click(function () {
                    correo = $(this).text();
                    $('#nombre_contacto').focus();
                });

                $('#btn-enviar-contacto').click(function () {
                    if (estaVacio($('#nombre_contacto').val()) || estaVacio($('#titulo_contacto').val()) || estaVacio($('#mensaje_contacto').val())) {
                        alertify.error("{{ 'introduzca.datos.formulario' | trans }}");
                        return false;
                    }

                    if (esSoloEspacios($('#nombre_contacto').val()) || esSoloEspacios($('#titulo_contacto').val()) || esSoloEspacios($('#mensaje_contacto').val())) {
                        alertify.error("{{ 'introduzca.datos.formulario' | trans }}");
                        return false;
                    }

                    $('#para_contacto').val(correo);

                    $.ajax({
                        url: $('#form-contacto').attr('action'),
                        data: $('#form-contacto').serialize(),
                        method: 'post'
                    }).success(function (data) {
                        $('#modal_contacto').modal('hide');
                        alertify.success("{{ 'mensaje.enviado' | trans }}");
                    }).error(function (err) {
                        console.log("Error", err);
                        alertify.error("{{ 'mensaje.no.enviado' | trans }}");
                    });
                });

            });

        });
    </script>
{% endblock %}