{% extends 'base.html.twig' %}

{% block body %}
    {% include 'modal/publicidad.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                {% include 'inc/carousel.html.twig' %}
            </div>
            <div class="col-xs-2"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-11 col-md-10">
                <h3 class="pull-left"><i class="fa fa-file-o"></i> {{ 'vehiculos.subidos' | trans }}</h3>

                <form class="pull-right">
                    <select name="selectTiempoVehiculosSubidos" id="selectTiempoVehiculosSubidos" class="form-control">
                        <option value="-30 day">{{ 'ultimos.30.dias' | trans }}</option>
                        <option value="-60 day">{{ 'ultimos.60.dias' | trans }}</option>
                        <option value="-3 month">{{ 'ultimos.3.meses' | trans }}</option>
                        <option value="-6 month">{{ 'ultimos.6.meses' | trans }}</option>
                    </select>
                </form>

                <br/>
                <hr/>

                <div id="divVehiculosSubidos">
                    {{ render(controller('App\\Controller\\VehiculoController::vehiculosSubidosAction', {tiempo: '-30 day'})) }}
                </div>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

                <h3 class="pull-left"><i class="fa fa-refresh"></i> {{ 'vehiculos.actualizados' | trans }}</h3>

                <form class="pull-right">
                    <select name="selectTiempoVehiculosActualizados" id="selectTiempoVehiculosActualizados"
                            class="form-control">
                        <option value="-30 day">{{ 'ultimos.30.dias' | trans }}</option>
                        <option value="-60 day">{{ 'ultimos.60.dias' | trans }}</option>
                        <option value="-3 month">{{ 'ultimos.3.meses' | trans }}</option>
                        <option value="-6 month">{{ 'ultimos.6.meses' | trans }}</option>
                    </select>
                </form>

                <br/>
                <hr/>

                <div id="divVehiculosActualizados">
                    {{ render(controller('App\\Controller\\VehiculoController::vehiculosActualizadosAction', {tiempo: '-30 day'})) }}
                </div>
            </div>
            <div class="col-lg-1 col-md-2 publicidad">
                <a href="http://direccion.com">
                    <img src="{{ asset('img/publicidad/ByFtp-Opt.png') }}" alt="ByFtp-Opt"/>
                </a>

                <a href="http://direccion.com">
                    <img src="{{ asset('img/publicidad/WebHosting-Opt.png') }}" alt="WebHosting-Opt"/>
                </a>
                
                <!-- <a data-toggle="modal" href="#modal_publicidad" class="tu-publicidad-aqui">
                    <span class="tu-publicidad">
                        {{ 'tu.publicidad' | trans }}
                    </span>
                    <span class="aqui-publicidad">
                        {{ 'aqui' | trans }}
                    </span>
                </a>

                <a data-toggle="modal" href="#modal_publicidad" class="tu-publicidad-aqui">
                    <span class="tu-publicidad">
                        {{ 'tu.publicidad' | trans }}
                    </span>
                    <span class="aqui-publicidad">
                        {{ 'aqui' | trans }}
                    </span>
                </a>

                <a data-toggle="modal" href="#modal_publicidad" class="tu-publicidad-aqui">
                    <span class="tu-publicidad">
                        {{ 'tu.publicidad' | trans }}
                    </span>
                    <span class="aqui-publicidad">
                        {{ 'aqui' | trans }}
                    </span>
                </a> -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/js/dataTables.js') }}"></script>
    <script>
        function configurarDataTables() {
            $('.tablaVehiculos').dataTable();
        }
        $(function () {

            $('.carousel').carousel();

            configurarDataTables();

            $('#selectTiempoVehiculosSubidos').change(function () {
                var ruta = "{{ path('vehiculosSubidos', {tiempo: 'tiempo'}) }}";
                var url = ruta.replace(/tiempo/, $(this).val());
                $.ajax({
                    url: url,
                }).success(function (data) {
                    $('#divVehiculosSubidos').html(data);
                    configurarDataTables();
                }).error(function (error) {

                });
            });

            $('#selectTiempoVehiculosActualizados').change(function () {
                var ruta = "{{ path('vehiculosActualizados', {tiempo: 'tiempo'}) }}";
                var url = ruta.replace(/tiempo/, $(this).val());
                $.ajax({
                    url: url,
                }).success(function (data) {
                    $('#divVehiculosActualizados').html(data);
                    configurarDataTables();
                }).error(function (error) {
                });
            });

            $('.publicidad>a').click(function (e){
                e.preventDefault();
                window.open($(this).attr('href'));
            });

            $('#btn-enviar-publicidad').click(function () {
                if (!$('#nombre_publicidad').val() || !$('#email_publicidad').val() || !$('#mensaje_publicidad').val()) {
                    alertify.error('{{ 'introduzca.datos.formulario' | trans }}');
                    return false;
                }

                if (!/^(.+\@.+\..+)$/.test($('#email_publicidad').val())) {
                    alertify.error('{{ 'email.invalido' | trans }}');
                    return false;
                }

                $.ajax({
                    url: $('#form-publicidad').attr('action'),
                    data: $('#form-publicidad').serialize(),
                    method: 'post'
                }).success(function (data) {
                    $('#modal_publicidad').modal('hide');
                    alertify.success('{{ 'mensaje.enviado' | trans }}');
                }).error(function (data) {
                    alertify.error('{{ 'mensaje.no.enviado' | trans }}');
                });
            });

        });
    </script>
{% endblock %}