{# *** Plantilla principal de la aplicacion #}
<!DOCTYPE html>
<html lang="es_Es">
<head>
    <meta charset="UTF-8"/>
    {# Titulo por defecto que sale en la pestanna del navegador en caso que alguna pagina hija no ponga su propio titulo #}
    <title>{% block title %}Infotaller{% endblock %}</title>
    {# Logo y estilos de la aplicacion #}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logoAplicacion.png') }}"/>

    {# Los estilos de alertify en particular dan problemas con el bundle de symfony para los assets, por eso los dejo fijos #}
    <link rel="stylesheet" href="{{ asset('alertify/css/alertify.core.css') }}">
    <link rel="stylesheet" href="{{ asset('alertify/css/alertify.bootstrap.css') }}">

    {# Uso del bundle Encore para el trabajo con los assets #}
    {{ encore_entry_link_tags('css/bootstrap') }}
    {{ encore_entry_link_tags('css/font-awesome') }}
    {{ encore_entry_link_tags('css/jquery') }}
    {{ encore_entry_link_tags('css/offcanvas') }}
    {{ encore_entry_link_tags('css/flags') }}
    {{ encore_entry_link_tags('css/navbar') }}
    {{ encore_entry_link_tags('css/estilos-generales') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>

    {# Agrego barra de navegacion #}
    {% include 'inc/navbar.html.twig' %}

    {# Bloque body donde las paginas hijas ponen el contenido a mostrar #}
    {% block body %}{% endblock %}

    {# Agrego el pie de pagina #}
    {% include 'inc/footer.html.twig' %}

    {# Estos dos scripts en particular dan problemas con el bundle encore por eso los dejo fijos, esta version de jquery es requerida! #}
    <script src="{{ asset('/jquery/js/jquery.js') }}"></script>
    <script src="{{ asset('/alertify/js/alertify.min.js') }}"></script>

    {# Uso del bundle Encore para el trabajo con los assets #}
    {{ encore_entry_script_tags('js/bootstrap') }}
    {{ encore_entry_script_tags('js/pantallaCargando') }}

    <script>

        {# Si estoy en produccion Inicio del script de Matomo  para el analisis del sitio #}
        {% if app.environment == 'prod' %}
            var _paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//analisisweb.cubahosting.net/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        {% endif %}
        {# Fin del script de Matomo para el analisis del sitio #}

        
        {#
            Datos del modal para envio de correos a contactos,
            lo pongo en la base general, porque se puede acceder desde cualquier parte de la aplicacion
        #}
        var correo = '';

        var exp_reg_es_solo_espacios = /^ +$/;
        var exp_reg_comienza_con_espacios = /^ /;

        function esSoloEspacios(valor){
            return exp_reg_es_solo_espacios.test(valor);
        }

        function esMuyLargo(valor){
            return valor.length > 50;
        }

        function comienzaConEspacio(valor){
            return exp_reg_comienza_con_espacios.test(valor);
        }

        function estaVacio(valor){
            return valor.length == 0;
        }

        $(function () {
            $('a.contacto').click(function () {
                correo = $(this).text();
                $('#nombre_contacto').focus();
            });

            $('#btn-enviar-contacto').click(function () {
                {# valido que contenga datos el formulario #}
                if (estaVacio($('#nombre_contacto').val()) || estaVacio($('#titulo_contacto').val()) || estaVacio($('#mensaje_contacto').val())) {
                    alertify.error("{{ 'introduzca.datos.formulario' | trans }}");
                    return false;
                }

                {# valido que contenga datos el formulario #}
                if (esSoloEspacios($('#nombre_contacto').val()) || esSoloEspacios($('#titulo_contacto').val()) || esSoloEspacios($('#mensaje_contacto').val())) {
                    alertify.error("{{ 'introduzca.datos.formulario' | trans }}");
                    return false;
                }

                {# asigno el valor del contacto que se hizo click al input oculto del formulario #}
                $('#para_contacto').val(correo);

                {# Envio al controlador los datos para que se envie el correo #}
                $.ajax({
                    url: $('#form-contacto').attr('action'),
                    data: $('#form-contacto').serialize(),
                    method: 'post'
                }).success(function (data) {
                    {# En caso de que salga todo bien, oculto el formulario y muestro un mensaje de OK #}
                    $('#modal_contacto').modal('hide');
                    alertify.success("{{ 'mensaje.enviado' | trans }}");
                }).error(function (err) {
                    {# En caso de error, no oculto el formulario y muestro un mensaje de error #}
                    alertify.error("{{ 'mensaje.no.enviado' | trans }}");
                });
            });
        });

    </script>

    {# Bloque de javascript donde las paginas hijas pueden poner su codigo javascript #}
    {% block javascripts %}{% endblock %}
</body>
</html>
