<!DOCTYPE html>
<html lang="es_Es">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Bienvenido - Despiece{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logoAplicacion.png') }}"/>
    <link rel="stylesheet" href="{{ asset('alertify/css/alertify.core.css') }}">
    <link rel="stylesheet" href="{{ asset('alertify/css/alertify.bootstrap.css') }}">

    {{ encore_entry_link_tags('css/bootstrap') }}
    {{ encore_entry_link_tags('css/font-awesome') }}
    {{ encore_entry_link_tags('css/jquery') }}
    {{ encore_entry_link_tags('css/offcanvas') }}
    {{ encore_entry_link_tags('css/flags') }}
    {{ encore_entry_link_tags('css/navbar') }}
    {{ encore_entry_link_tags('css/estilos-generales') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>

    {% include 'inc/navbar.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'inc/footer.html.twig' %}

    {# this jquery version is mandatory, others dont work !! #}
    <script src="{{ asset('/jquery/js/jquery.js') }}"></script>
    <script src="{{ asset('/alertify/js/alertify.min.js') }}"></script>

    {{ encore_entry_script_tags('js/bootstrap') }}
    {{ encore_entry_script_tags('js/pantallaCargando') }}

    {% block javascripts %}{% endblock %}
</body>
</html>
