<!DOCTYPE html>
<html lang="es_Es">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Bienvenido - Despiece{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logoAplicacion.png') }}"/>
    <link rel="stylesheet" href="{{ asset('alertify/css/alertify.core.css') }}">
    <link rel="stylesheet" href="{{ asset('alertify/css/alertify.bootstrap.css') }}">

    {{ encore_entry_link_tags('css/bootstrap') }}
    {{ encore_entry_link_tags('css/font-awesome') }}
    {{ encore_entry_link_tags('css/jquery') }}
    {{ encore_entry_link_tags('css/offcanvas') }}
    {{ encore_entry_link_tags('css/flags') }}
    {{ encore_entry_link_tags('css/navbar') }}
    {{ encore_entry_link_tags('css/estilos-generales') }}

    {% block stylesheets %}{% endblock %}
</head>
<body>

    {% include 'inc/navbar.html.twig' %}

    {% block body %}{% endblock %}

    {% include 'inc/footer.html.twig' %}

    {# this jquery version is mandatory, others dont work !! #}
    <script src="{{ asset('/jquery/js/jquery.js') }}"></script>
    <script src="{{ asset('/alertify/js/alertify.min.js') }}"></script>

    {{ encore_entry_script_tags('js/bootstrap') }}
    {{ encore_entry_script_tags('js/pantallaCargando') }}

    <script>

        // Matomo code
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
        var u="//analisisweb.cubahosting.net/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();

        // Modal to send Mails

        var correo = '';

        var exp_reg_es_solo_espacios = /^ +$/;
        var exp_reg_comienza_con_espacios = /^ /;

        function esSoloEspacios(valor){
            return exp_reg_es_solo_espacios.test(valor);
        }

        function esMuyLargo(valor){
            return valor.length > 50;
        }

        function comienzaConEspacio(valor){
            return exp_reg_comienza_con_espacios.test(valor);
        }

        function estaVacio(valor){
            return valor.length == 0;
        }

        $(function () {
            $('a.contacto').click(function () {
                correo = $(this).text();
                $('#nombre_contacto').focus();
            });

            $('#btn-enviar-contacto').click(function () {
                if (estaVacio($('#nombre_contacto').val()) || estaVacio($('#titulo_contacto').val()) || estaVacio($('#mensaje_contacto').val())) {
                    alertify.error("{{ 'introduzca.datos.formulario' | trans }}");
                    return false;
                }

                if (esSoloEspacios($('#nombre_contacto').val()) || esSoloEspacios($('#titulo_contacto').val()) || esSoloEspacios($('#mensaje_contacto').val())) {
                    alertify.error("{{ 'introduzca.datos.formulario' | trans }}");
                    return false;
                }

                $('#para_contacto').val(correo);

                $.ajax({
                    url: $('#form-contacto').attr('action'),
                    data: $('#form-contacto').serialize(),
                    method: 'post'
                }).success(function (data) {
                    $('#modal_contacto').modal('hide');
                    alertify.success("{{ 'mensaje.enviado' | trans }}");
                }).error(function (err) {
                    console.log("Error", err);
                    alertify.error("{{ 'mensaje.no.enviado' | trans }}");
                });
            });
        });

    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>
