{#
    Plantilla GENERAL de los programas
        dentro de la carpeta /templates/layout/programa estan las plantillas especificas de las secciones de archivo, estadistica, ....
#}

{% extends 'base.html.twig' %}

{% block body %}
{% set grupo = app.request.get('grupo') %}
    <div class="menus-programa">
        <a class="menu-programa{% if grupo == 'configuracion' %} activo{% endif %}" href="{{ path('program', { 'grupo': 'configuracion' }) }}" id="menu-configuracion">
            <img src="{{ asset('img/menu_programa/configuracion.jpg') }}" alt=""/>
            <span>{{ 'menu.configuracion' | trans }}</span>
        </a>
        <a class="menu-programa{% if grupo == 'archivos' %} activo{% endif %}" href="{{ path('program', { 'grupo': 'archivos' }) }}" id="menu-configuracion">
            <img src="{{ asset('img/menu_programa/archivos.jpg') }}" alt=""/>
            <span>{{ 'menu.archivos' | trans }}</span>
        </a>
        <a class="menu-programa{% if grupo == 'facturacion' %} activo{% endif %}" href="{{ path('program', { 'grupo': 'facturacion' }) }}" id="menu-configuracion">
            <img src="{{ asset('img/menu_programa/facturacion.jpg') }}" alt=""/>
            <span>{{ 'menu.facturacion' | trans }}</span>
        </a>
        <a class="menu-programa{% if grupo == 'herramientas' %} activo{% endif %}" href="{{ path('program', { 'grupo': 'herramientas' }) }}" id="menu-configuracion">
            <img src="{{ asset('img/menu_programa/herramientas.jpg') }}" alt=""/>
            <span>{{ 'menu.herramientas' | trans }}</span>
        </a>
    </div>
    <div class="container">
        {# TODO: poner en window.open('//direccion-web') de donde se va a registrar un nuevo taller #}
        <a href="#" onclick="window.open('#')" class="btn btn-primary pull-right">{{ 'registrar.taller' | trans }}</a>
    </div>
    <div class="row">

        <div class="col-xs-2">
            {# Bloque donde las plantillas hijas de cada seccion van a poner las opciones especificas de la seccion #}
            {% block submenu %}{% endblock %}
        </div>
        <div class="col-xs-10">
            {# Bloque donde se va a renderizar el HTML del programa especifico #}
            {% block contenido %}{% endblock %}
        </div>
    </div>

{% endblock %}