<div id="carousel-example-generic" class="carousel slide">

    <!-- Controles inferiores del carousel -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    </ol>

    <!-- imagenes del carousel -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('img/carousel/Banner-Opt.png') }}" alt="Banner-Opt">
        </div>
        <div class="item">
            <img src="{{ asset('img/carousel/unnamed-1.png') }}" alt="unnamed-1">
        </div>
        <div class="item">
            <img src="{{ asset('img/carousel/unnamed-2.png') }}" alt="unnamed-2">
        </div>
        <div class="item">
            <img src="{{ asset('img/carousel/unnamed-3.png') }}" alt="unnamed-3">
        </div>
        <div class="item">
            <img src="{{ asset('img/carousel/unnamed-4.png') }}" alt="unnamed-4">
        </div>
        <div class="item">
            <img src="{{ asset('img/carousel/unnamed-5.png') }}" alt="unnamed-5">
        </div>
        <div class="item">
            <img src="{{ asset('img/carousel/unnamed-6.png') }}" alt="unnamed-6">
        </div>
    </div>

    <!-- Controles laterales del carousel -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>